<launch>

	<!-- Drive to goal pose -->
	<node pkg="teach_repeat" type="drive_to_pose_controller.py" name="drive_to_pose" output="screen" >
		<!--remap from="odom" to="odometry/filtered" /-->
<!-- 		<remap from="odom" to="odometry/filtered" unless="$(arg use_corrupted_odom)" /> -->
<!-- 		<remap from="odom" to="odom_corrupted" if="$(arg use_corrupted_odom)" /> -->
		<rosparam param="min_omega">0.15</rosparam>
		<rosparam param="max_omega">1.00</rosparam>
		<rosparam param="max_v">0.5</rosparam>
	</node>

	<!-- Show image matching -->
	<!--node pkg="image_view" type="image_view" name="image_match_debug_view" >
		<remap from="image" to="match_image_debug" />
	</node-->
</launch>
